<div class="actor-detail-active">
  <h1 class="text-center text-uppercase">{{object.foaf:firstName}} {{object.foaf:name}}</h1>
  <div class="detail-content">
    <h2>Description</h2>
    <p>{{object.description}}</p>

    <div class="row personal-information">
      <h2>Informations personnelles</h2>
      <div class="col-md-3 equal profile-picture">
        <img height="200" width="200" src="{{object.profile_picture_url}}" alt="Photo de profil" />
      </div>
      <div class="col-md-9 equal information-content">
        <p>Date de naissance: {{object.birthdate}}</p>
        <p>Adresse: {{object.address}}, {{object.zipcode}} {{object.city}}</p>

        <p>Personal Website: {{object.foaf:homePage}}</p>
        <p>Contact: <a href="mailto:{{object.foaf:mbox}}">{{object.foaf:mbox}}</a></p>

        <p>
          Reseaux sociaux:
          <ul>
            {{#if object.linkedin }}<li>Linkedin: <a href="{{object.linkedin}}">{{object.linkedin}}</a></li>{{/if}}
            {{#if object.twitter }}<li>Twitter:   <a href="{{object.twitter}}">{{object.twitter}}</a></li>{{/if}}
            {{#if object.github }}<li>Github:     <a href="{{object.github}}">{{object.github}}</a></li>{{/if}}
            {{#if object.facebook }}<li>Facebook: <a href="{{object.facebook}}">{{object.facebook}}</a></li>{{/if}}
          </ul>
        </p>
      </div>
    </div>

    {{#if object.posts}}
      <div class="row" id="author-posts">
        <h2>Ses posts de blog</h2>

        <div class="container">
          {{#each object.posts}}
            {{>postItem this}}
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
