<div class="project-detail-active">
  <h1 class="text-center text-uppercase">
    Le projet {{object.project_title}}
  </h1>
  <div class="detail-content">
    <h2>
      Description
    </h2>
    <p>
      {{object.project_description}}
    </p>

    <h2>Objectifs</h2>
    <p>{{object.project_goal}}</p>

    <h2>Vision</h2>
    <p>{{object.project_vision}}</p>

    <h2>Contexte</h2>
    <p>{{object.project_context}}</p>

    <h2>Missions</h2>
    <p>{{object.project_missions}}</p>
  </div>
</div>
