<div class="artwork-detail-active">
  <h1 class="text-center text-uppercase">{{ object.foaf:name }}</h1>
  <div class="detail-content">
    <h2>Description</h2>
    <p>{{object.pair:shortDescription}}</p>

    <div class="row personal-information">
      <h2>Informations</h2>
      <div class="col-md-3 equal profile-picture">
        <img height="200" width="200" src="{{object.foaf:img}}" alt="Photo de profil" />
      </div>
      <div class="col-md-9 equal information-content">
          <div>{{object.pair:longDescription}}</div>
          {{#if object.foaf:weblog}}
            <p>Personal Website: {{object.foaf:homePage}}</p>
          {{/if}}
      </div>

  </div>
</div>
